html {
    box-sizing: border-box;
}

main {
    margin: 1rem;
}

.health { 
    padding: 0.3em 1em;
    margin: 1px;
    display: inline-block;
}
.health-200 { background-color: green; color: #fff; }
.health-404 { background-color: red; color: #fff; }
.health-302, .health-301 { background-color: gold; color: #222222 }

.table td { vertical-align: middle; }

.scanning {
    background-color: #cccccc;
}

td.scan .fa {
    display: none;
}
tr.scanning td button.update-health {
    display: none;
}
tr.scanning td .fa-spin {
    display: inline-block;
}
