<html>
<head>
    <title>URL Scanner</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/scanner.js') }}"></script>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>URL</th>
                <th>Health</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <td>{{ url["url"] }}</td>
                <td><span id="health-{{ url["id"] }}" class="health health-{{ url["health"] }}">{{ url["health"] }}</span></td>
                <td><button class="update-health" data-id="{{ url['id'] }}" data-url="{{ url['url'] }}" >update</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>