{% extends "layout.html" %}

{% block body %}

<h2>Current URLs</h2>

{% if message %}
<div class="alert alert-primary" role="alert">
    {{ message }}
</div>
{% endif %}

<div class="form-group">
    <button id="scan-all" class="btn btn-primary">
        Scan All
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>URL</th>
            <th>Health</th>
            <th>Last Update</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
        <tr id="row-{{ url['id'] }}" class="url-row" data-id="{{ url['id'] }}">
            <td>
                <p>{{ url["url"] }}</p>
                {%if (url["status_code"] == 301 or url["status_code"] == 302) %}
                    <p><i class="fa fa-arrow-right"></i> {{ url["headers"]["Location"] }}</p>
                {% endif %}
            </td>
            <td><span id="health-{{ url['id'] }}" class="health health-{{ url['status_code'] }}">{{ url["status_code"] }}</span></td>
            <td id="last-update-{{ url['id'] }}">{{ url["last_update_formatted"] }}</td>
            <td class="scan centered">
                <button class="btn btn-secondary update-health" data-id="{{ url['id'] }}" data-url="{{ url['url'] }}">
                    <i class="fa fa-refresh"></i>
                    Update
                </button>
                <div class="loading">
                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </td>
            <td class="centered">
                <button class="btn btn-danger js-remove" data-id="{{ url['id'] }}">
                    <i class="fa fa-trash"></i> 
                    Remove
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Add New URL</h2>
<form method="POST" action="{{ url_for('add') }}">
    <div class="form-group">
        <input id="newUrl" type="text" name="url" value="" class="form-control" placeholder="http://example.com" />
    </div>
    <button class="btn btn-primary">Add</button>
</form>
{% endblock %}