{% extends "layout.html" %}

{% block body %}

<button id="scan-all" class="btm">
    Scan All
</button>

<table class="table">
    <thead>
        <tr>
            <th>URL</th>
            <th>Health</th>
            <th>Last Update</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
        <tr id="row-{{ url['id'] }}" class="url-row" data-id="{{ url['id'] }}">
            <td>
                <p>{{ url["url"] }}</p>
                {%if (url["status_code"] == 301 or url["status_code"] == 302) %}
                    <p><i class="fa fa-arrow-right"></i> {{ url["headers"] }}</p>
                {% endif %}
            </td>
            <td><span id="health-{{ url['id'] }}" class="health health-{{ url["status_code"] }}">{{ url["status_code"] }}</span></td>
            <td id="last-update-{{ url['id'] }}">{{ url["last_update_formatted"] }}</td>
            <td class="scan">
                <button class="update-health" data-id="{{ url['id'] }}" data-url="{{ url['url'] }}" >update</button>
                <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}